* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: rgb(16, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(16, 20, 20, 1) 0%,
    rgba(33, 43, 42, 1) 99%
  );
  min-height: 100vh;
  overflow: hidden;

  position: relative;
  border: 3px;
  border-color: white;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.logo {
  font-size: 50px;
  padding: 10px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
}
.fa-solid {
  color: white;
  padding: 10px;
}

.btn {
  background: #ff3d00;
  color: white;
  padding: 10px 30px;
  border-radius: 9px;
  cursor: pointer;
}

.search-field {
  padding: 10px;
}
.search-button {
  padding: 10px 10px;
}
