* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: rgb(16, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(16, 20, 20, 1) 0%,
    rgba(33, 43, 42, 1) 99%
  );
  height: 100vh;
  overflow: hidden;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.logo {
  font-size: 50px;
  padding: 10px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
}
.fa-solid {
  color: white;
  padding: 10px;
}

.btn {
  background: #ff3d00;
  color: white;
  padding: 10px 30px;
  border-radius: 9px;
  cursor: pointer;
}

.search-field {
  padding: 10px;
}
.submit-button {
  padding: 10px 10px;
  cursor: pointer;
}

.cards {
  width: 200px;
  height: 330px;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 9px;
  position: relative;
  background: rgb(16, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(16, 20, 20, 1) 0%,
    rgba(53, 68, 66, 1) 99%
  );
}

.card-container {
  margin-top: 30px;
  display: flex;

  justify-content: space-around;
  padding: 60px;
}

.add-to-cart {
  display: flex;
  padding: 4px;
  right: 0;
  margin: 3px 3px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  background: greenyellow;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.cards img {
  border-radius: 9px 9px 0px 0px;
  width: 100%;
}
.movie-info {
  margin-left: 3px;
}
